.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .forgot-link {
    display: flex;
    font-size: 1.4rem;
    align-items: flex-end;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #b4bcc7;

  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 15%;
  padding-right: 15%;
  position: relative;

  font-family: "PT Sans", sans-serif !important;

  h1 {
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
}

.login-container {
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: #ffff;
  border-radius: 7px;

  .ant-row {
    height: 100%;
  }

  .login-sidebar {
    height: 100%;
    width: 100%;
    position: relative;
    img {
      height: 100%;
      right: 0;
      position: absolute;
      z-index: 3;
    }
  }

  .login-form-wrapper {
    display: flex;
    align-items: center;

    height: 100%;
    position: relative;
    z-index: 5;

    h2 {
      font-size: 44px;
      font-weight: bold;
    }

    p {
      margin-bottom: 16px;
      color: #767676;
    }

    .login-form {
      margin-left: 5%;
      max-width: 450px;
      border-radius: 8px;
      width: 100%;
    }

    .ant-form {
      .ant-form-item {
        margin-top: 20px;
        .ant-input {
          font-size: 14px;
          &::placeholder {
            font-size: 14px;
          }
        }
        &.form-submit-btn {
          text-align: center;
          margin: 30px 0 10px;
          .ant-btn-primary {
            min-width: 180px;
            padding-inline: 30px;
            font-size: 16px;
            height: auto;
            letter-spacing: 0.4px;
            font-weight: 600;
          }
        }
      }

      label {
        font-size: 16px;
      }

      .ant-form-item-label {
        text-transform: capitalize;
        font-size: 16px;

        letter-spacing: 0.3px;
        .ant-form-item-required {
          &:before {
            position: absolute;
            right: -13px;
            top: 6px;
          }
        }
      }

      .ant-form-item-control {
        font-size: 16px;
      }
    }
    // ............................................................... privacy

    .login-link {
      text-align: center;
      font-size: 14px;

      a {
        margin-left: 7px;
        font-weight: 700;
      }
    }
  }
}

.powered-by {
  font-family: "Alegreya Sans", sans-serif !important;
  position: absolute;
  left: 5%;
  bottom: 0px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.2px;
  z-index: 10;

  .underline {
    text-decoration: underline;
  }

  .imark {
    font-size: 13px;
    span {
      color: #892c26;
    }
  }
}
